/* Copy :root block to enable tweaks
:root {
    --twk-hide-avatar-deco              : true;
    --twk-hide-gift-button              : true;
    --twk-hide-guild-tag                : true;
    --twk-hide-nameplates               : true;
    --twk-hide-profile-effects          : true;
    --twk-hide-profile-gradients        : true;
    --twk-hide-role-gradients           : true;
    --twk-hide-role-icons               : true;
    --twk-hide-shop-new-badge           : true;
    
    --twk-fade-voice-activity           : true;
    --twk-fullscreen-video-close-button : true;
}
*/

/* Remove annoyances **************************************************************************************************/

@container style(--twk-hide-avatar-deco: true) {
    *[class*="avatarDecoration"] {
        display: none !important;
    }
}

@container style(--twk-hide-gift-button: true) {
    div[class*="container"]:has(> div[aria-label="Send a gift"]) {
        display: none !important;
    }
    
    div[aria-label="Send a gift"] {
        display: none !important;
    }
}

@container style(--twk-hide-guild-tag: true) {
    div[class*="chipletParent"], span[class*="chipletContainerInner"] {
        display: none !important;
    }
}

@container style(--twk-hide-nameplates: true) {
    div[class*="member"] > div[class*="childContainer"] > div[class*="container"] {
        display: none !important;
    }
}

@container style(--twk-hide-profile-effects: true) {
    div[class*="profileEffects"] {
        display: none !important;
    }
}

@container style(--twk-hide-profile-gradients: true) {
    div[id*="popout"] div[class*="user-profile-popout"] {
        background: #333333 !important;
    }
}

@container style(--twk-hide-role-gradients: true) {
    *[class*="usernameGradient"] {
        color: var(--custom-gradient-color-1);
        background: unset;
        -webkit-text-fill-color: unset;
    }
}

@container style(--twk-hide-role-icons: true) {
    img[class*="roleIcon"] {
        display: none !important;
    }
}

@container style(--twk-hide-shop-new-badge: true) {
    *[data-list-item-id*="shop"] > *[class*="newBadge"] {
        display: none !important;
    }
}

/* Other **************************************************************************************************************/

@container style(--twk-fade-voice-activity: true) {
    div[class*="userAvatar"] {
        transition: box-shadow 2s ease-out !important;
    }
    div[class*="userAvatar"][style*="--status-speaking"] {
        transition: box-shadow 0s !important;
    }
}

@container style(--twk-fullscreen-video-close-button: true) {
    *[class*="videoButton"] {
        margin-right: 0px;

        *[class*="controlIcon"] {
            padding-right: 12px; /* starts with 4px */
        }
    }
}
